
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/pokestyle.css" charset="utf-8">
  <title>Pokenatra</title>
</head>
<body>

  <header>
    <h1><a href='/'>Pokenatra</a></h1>
  </header>
  <div class="containareon">
    <%= yield %>
  </div>
  <audio autoplay>
    <source src="../sounds/pokemon-theme.mp3" type="audio/mp3">
  </audio>
</body>
</html>
